[Unit]
Description=Expences Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/expences-bot
EnvironmentFile=/root/expences-bot/.env
ExecStart=/root/expences-bot/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8081
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
